nav {
  color: #FFFFFF;
  background-color: #4056A1;
  padding-left: 1.5em;
  padding-right: 1.5em;
  /* width: 100%; */
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between; 
  height: 120px;
  z-index: 2;
}

#logo {
  font-family: 'Bungee', cursive;
}

.nav-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}





/* class
.logo {
  
}

id
#logo {

} */





