#tweet-container:hover {
  background-color: #cdb5bd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: double;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: double;
}

.error {
   color: #D8000C;
   background-color: #FFBABA;
}

/* .divider {
  background-color: black;
  height: 5px;
  margin: 0 0.5em;
} */