.tweets-container {
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tweet-box {
  border: solid;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.tweet-box:hover {

  box-shadow: 5px 5px grey;
  
}

.tweet-body {
  margin: 10px;
  border-bottom: solid;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

.tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
  font-size: 60%;
}

.handle {
  color: #cdb5bd;
}

.error {
   color: #D8000C;
   background-color: #FFBABA;
}

/* .divider {
  background-color: black;
  height: 5px;
  margin: 0 0.5em;
} */